<div class="row">
    <h1> Proyectos Realizados y Proyectos en Proceso</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Pagina Web Universidad</h1>
            <p id="corazones">Durante el primer cuatrimestre del año 2022 el cual abarca desde marzo hasta principios de julio con la cátedra de Laboratorio de Software 1 de la facultad de Ciencias Exactas y Tecnología de la provincia de Tucumán, se nos convocó para realizar un proyecto de una página web a través de Wordpress para una asociación sin fines de lucros cuyo nombre es "apapachando corazones". El objetivo era realizar una página web en dónde esta asociación pueda volcar todos sus trabajos, sus avances y toda la ayuda que brinda a la comunidad. Como así también dejar para la comunidad un medio a través con el cual puedan comunicarse con ellos para realizar donaciones de alimentos, donaciones de ropa y demás artículos y también quiénes lo deseen podían donar dinero a través de un cbu brindado por la asociación.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://www.instagram.com/apapachandocorazones/"><img src="../../../assets/apapachando corazones.jpg" class="img-fluid img-proyecto"> </a>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Club de Videojuegos-UNT</h1>
            <p id="juegos">Actualmente estoy involucrada en un Club de Desarrollo de Videojuegos, el cual están apadrinado por la Facultad de Ciencias Exactas y Tecnología de la provincia de tucumán.
                Este grupo está formado por estudiantes de la UNT con ganas de aprender sobre el desarrollo de videojuegos, tanto la planeación como el arte y el diseño hasta la programación de los mismos. Para la realización de los videojuegos que se llevan a cabo en este Club se utiliza un motor de videojuegos 2D y 3D multiplataforma libre y de código abierto desarrollado por la comunidad de Godot.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://www.instagram.com/cdv.unt/"><img src="../../../assets/cdv.unt.jpg" class="img-fluid img-club" > </a>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Argentina Programa #Yo Programo(2022)</h1>
            <p id="ap">Me inscribí en el curso de Argentina Programa, el cual consta de dos instancias:la primera #Se programar y la segunda instancia #Yo programo, en esta segunda instancia hacemos uso de todo lo aprendido durante el curso, el cual posee un programa que se encuentra dividido en módulos .En total son 9 módulos y luego de adquirir los conocimientos de estos 9 módulos vamos a tener las habilidades y herramientas para convertirnos en programadores. El curso se realizó a través de una plataforma digital en modalidad mixta teoría y ejercicios asincrónicos asi cómo también de Master classes de forma sincrónica. Para finalizar con el curso de Argentina Programa, tenemos que presentar un portfolio, en el cual volcaremos a través de lo aprendido todo lo que se nos indica según nuestros profesores y tutores.
                Es un plan nacional Federal e inclusivo de formación en programación y Software.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"><img src="../../../assets/AP.jpg" class="img-fluid img-AP" > </a>
        </div>
    </div>
</div>
