<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/majo.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            Gonzalez Maria Jose
        </p>
        <p id="developer">
            Full Stack Developer Jr
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p class="yo">Soy estudiante de segundo año de la carrera de Ingeniería en Informática de la Facultad de Ciencias Exactas y Tecnologías de
                Tucumán-San Miguel de tucumán.</p>
        </span>
    </div>
</div>
