<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            
                <a href=""><img src="../../../assets/linkedin.png" id="linkedin"> </a>
                <a href=""><img src="../../../assets/twitter.png" id="twitter"> </a>
                <a href="https://www.instagram.com/gonzalezmjgonzalez"><img src="../../../assets/instagram.png" id="instagram"> </a>
                <a href="https://github.com/majitsuri"><img src="../../../assets/github.png" id="github"> </a>
                <a href="https://www.facebook.com/majo.gonzalez.7169/"><img src="../../../assets/facebook.png" id="facebook"> </a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>
