<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <a href="https://www.facet.unt.edu.ar/"><img src="../../../assets/FACET.png " class="unt"> </a>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>( 9 años)</h3></li>
            <p id="quimica">En el año 2011 ingreso a la carrera de Ingeniería Química en la cual estuve durante muchos años pero luego decidí cambiarme de carrera . Estos estudios fueron realizados en la Facultad de Ciencias Exactas y Tecnología de Tucumán-San Miguel de tucumán.
            </p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(2 años)</h3></li>
            <p id="bio">En el 2020 ingresé a la carrera de Ingeniería en Biomédica la Facultad de Ciencias Exactas y Tecnología de Tucumán-San Miguel de tucumán, luego de dos años hice un último cambio de carrera.
            </p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(en curso)</h3></li>
            <p id="info">En 2022 ingresé en segundo año de la carrera de Ingeniería en Informática en la Facultad de Ciencias Exactas y Tecnología de la provincia de Tucumán-San Miguel de tucumán.</p>
        </ul>
        <ul>
            <li><h1>Cursos</h1> - <h3>(en curso y realizados)</h3></li>
            <p id="curso">He realizado un curso brindado por la Universidad Tecnológica Nacional-Facultad Regional de tucumán, basada en la línea de formación en la economía del conocimiento brindada través del Ministerio de trabajo empleo y seguridad social de la Nación.
                El curso y la certificación se basó en Programación en Python inicial.</p>
                <a href="https://frt.cvg.utn.edu.ar/"><img src="../../../assets/pythonUTN.jpg" class="uno"> </a>  
        </ul>
        <ul>
            <li><h1>Cursos</h1> - <h3>(en curso y realizados)</h3></li>
            <p id="curso">Actualmente estoy dentro de un curso brindado por Telecom Argentina Digit@lers, para ello primero debí aprobar un curso de ingreso, el cual tiene un certificado que es adjuntado a continuación.
                Es un programa de formación gratuita en programación y oficio digitales que busca Conectar a los jóvenes con su vocación digital.
                Dentro de la lista que de la cual se podía elegir, el curso Bootcamp NodeJs Developer, el cual consiste en Maquetación Web HTML5 y CSS, JAVASCRIPT, SPA,REST,AJAX, programación backend con NodeJs, ECMASCript, servidores de API Restful Json, bases de datos MongoDB, librería Mongoose , WebSockets.</p>
                <a href="https://www.digitalers.com.ar/"><img src="../../../assets/certificadoTelecom.jpg" class="dos"> </a>
                <a href="https://www.digitalers.com.ar/"><img src="../../../assets/digitalers.jpg" class="tres"> </a>
        </ul>
        <ul>
            <li><h1>Cursos</h1> - <h3>(en curso y realizados)</h3></li>
            <p id="curso">Actualmente estoy dentro de un curso de idioma inglés el cual es brindado a través de la beca Manuel belgrano es de tipo fines específicos IT el cual finaliza en el mes de diciembre del año 2022, brindado por el Ministerio de Educación Cultura Ciencia y Tecnología de Tierra del Fuego.
                Está dado por el Instituto Provincial de idiomas-sede Río Grande, brindada por el profesor Manuel Gajardo.</p>
                <a href="https://www.argentina.gob.ar/educacion/becas/becas-manuel-belgrano#:~:text=El%20Programa%20de%20Becas%20Estrat%C3%A9gicas,pa%C3%ADs%20y%20la%20igualdad%20social."><img src="../../../assets/IT-idioma.jpg" class="cuatro"> </a>
        </ul>
    </div>    
</div>

